.buat-pertunjukan-kamu{background-color:var(--bg-3); border-radius:var(--rounded-3); overflow:hidden;}
.bpkc-bg{max-height:377px;}
.bpkc-bg:before{position:relative; z-index:1000; padding-top:75%;}
.bpkc-bg:after{content:''; display:block; position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%;}
.bpkc-bg img{object-position:left center;}
.bpkc-title{color:var(--color-text-2); line-height:140%;}
.bpkc-desc{line-height:150%;}
.bpkc-content{padding:var(--size-4); display:flex; align-items:center;}
.bpkc-content > span{display:grid; grid-gap:var(--size-4);}
.bpkc-submit{display:flex;}
.bpkc-button{border-radius:var(--rounded-4) !important;}





@media screen and (min-width:0px) and (max-width:1023px){
  .bpkc-bg:after{background:linear-gradient(to bottom, transparent 34%, var(--bg-3) 100%);}
  .bpkc-title{font-size:16px;}
  .bpkc-desc{font-size:12px;}
}





@media screen and (min-width:1024px){
  .buat-pertunjukan-kamu-container{display:grid; grid-template-columns:repeat(2,1fr);}
  .bpkc-bg:after{background:linear-gradient(to right, transparent 21%, var(--bg-3) 100%);}
  .bpkc-title{font-size:34px;}
  .bpkc-desc{font-size:21px;}
}





@media screen and (min-width:1280px){
  .buat-pertunjukan-kamu-container{display:grid; grid-template-columns:1fr 610px;}
}