.content-list-desc{display:-webkit-box;}

.video-player{margin-bottom:calc(var(--size-6) * -1);}
.video-player-frame{position:relative; background-color:#000;}
.video-player-frame:before{padding-top:56.25%;}
.video-player-frame iframe, .vpfb-dailymotion{position:absolute; top:0; left:0; width:100%; height:100%;}
.video-player-frame-box{background-color:#000;}

.video-main-data > *{margin-top:var(--size-2);}
.video-main-title{margin:var(--size-3) 0; font-weight:bold; font-size:24px; line-height:130%; color:var(--color-text-2);}
.video-main-action{display:grid; grid-template-columns:1fr auto auto;
border-top:1px solid rgb(var(--color-border) / 13%); border-bottom:1px solid rgb(var(--color-border) / 13%);}
.video-main-action .svgicon{width:auto; height:var(--icon-height);}
.video-main-channel{display:grid; grid-template-columns:var(--icon-height) 1fr;}
.vmc-thumb-frame{width:var(--icon-height); height:var(--icon-height); border-radius:50%; overflow:hidden;}
.vmc-label{display:flex; align-items:center;}
.vmc-label h2{display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; -webkit-line-clamp:1;}
.video-main-button{line-height:0; display:flex; align-items:flex-start;}
.video-main-desc{line-height:140%; margin-top:var(--size-3);}
.vmd-publish, .vmd-date{margin-right:var(--size-3); padding-right:var(--size-3); border-right:1px solid rgb(var(--color-border) / 13%);}





@media screen and (min-width:0px) and (max-width:1023px){
  .rancak-container, .video-main{margin:0 !important;}
  
  .video-player-frame-box:before{content:''; display:block; padding-top:56.25%;}
  
  .video-main-info{padding:var(--size-3) var(--size-4) 0;}
  .video-main-action{--icon-height:24px; grid-gap:var(--size-4); padding:var(--size-3) 0;}
  .video-main-channel{grid-gap:var(--size-2);}
  
  @media screen and (orientation:portrait){
    .video-player-frame-box{position:fixed; z-index:calc(var(--max-zindex) - 20000); top:var(--size-6); width:100%;}
  }
  
  @media screen and (orientation:landscape){
    body.body-margin{padding-top:0;}
    .video-player-frame-box{position:absolute; z-index:calc(var(--max-zindex) - 9000); top:0; width:100%;}
  }
}





@media screen and (min-width:1024px){
  .program-list-container{grid-gap:var(--size-4); grid-template-columns:repeat(auto-fill, minmax(20%,1fr));}

  .video-player-frame{border-radius:var(--rounded-1); overflow:hidden;}
  .video-sticky .video-player-frame-box{position:fixed; z-index:calc(var(--max-zindex) - 12000); bottom:var(--size-6); right:0; width:377px;}
  .video-sticky .video-player-frame-box:before{content:''; display:block; padding-top:56.25%;}
  
  .video-main-info{padding-top:var(--size-4);}
  .video-main-action{--icon-height:30px; grid-gap:var(--size-5); padding:var(--size-4) 0;}
  .video-main-channel{grid-gap:var(--size-3);}
  .vmc-label{font-size:18px;}
  .video-info-data{justify-content:flex-start;}
  .vmd-view{margin-left:auto;}
}