.rancak-container, .live-streaming-main, .column-full-nomargin{margin:0 !important;}

.lsmc-player{position:relative; background-color:#000;}
.lsmc-player iframe, .lsmc-player .lsmc-dailymotion, .lsmc-player .lsmc-dailymotion .dm-player-wrapper{width:100%; height:100%;}
.lsmc-player iframe, .lsmc-player .lsmc-dailymotion{position:absolute; z-index:1; top:0; left:0;}

.lsmc-info, .lsmc-info-box{position:relative;}
.lsmc-info-box{z-index:1000;}
.lsmc-title{margin-top:var(--size-4); font-weight:bold; font-size:24px;}
.lsmc-misc{--share-size:24px; position:relative; padding-bottom:var(--size-3);}
.lsmc-misc-box{margin-top:var(--size-3);}
.lsmc-share-button{font-weight:bold;}
.lsmc-share-button .svgicon{height:auto;}
.lsmc-desc{line-height:140%; margin-top:var(--size-2);}





@media screen and (min-width:0px) and (max-width:1023px){
  .live-streaming-main-container{padding:var(--size-6) 0 var(--size-4);}
  .lsmc-central{padding:0 var(--size-4);}
  .lsmc-player:before{content:''; display:block; padding-top:56.25%;}
  
  .lsmc-misc{padding-right:calc(var(--share-size) + var(--size-2));}
  .lsmc-share-button{position:absolute; right:0; top:0;}
  .lsmc-share-button .svgicon{width:var(--share-size);}
  
  .lsmc-mobilebanner{margin-top:var(--size-4);}
}





@media screen and (min-width:1024px){
  .live-streaming-main-container{padding:var(--size-7) var(--size-5) var(--size-5); 
  display:grid; grid-gap:var(--size-3); grid-template-columns:160px 1fr 160px;}
  
  .lsmc-player{height:600px;}
  
  .lsmc-data{margin-bottom:var(--size-2);}
  .lsmc-misc{display:flex;}
  .lsmc-misc-box{margin-right:var(--size-5);}
  .lsmc-share-button{margin-left:auto; align-items:flex-end; position:relative; top:var(--size-2);}
  .lsmc-share-button .svgicon{width:var(--icon-size);}
  .lsmc-desc{font-size:16px;}
}