.rancak-container{margin-top:0;}
.error-page > span{width:100%; max-width:377px;}
.error-image:before{padding-top:97.03%;}
.error-title, .error-desc{text-align:center; line-height:140%;}
.error-title{font-weight:900; font-size:24px; margin-bottom:var(--size-3);}