:root, :before, :after{
  --bg-2:#292C3D; 
  --bg-3:#12141A; 
  --bg-4:#3E3F4E; 
  --color-border:255 255 255;
  --color-overlay:0 0 0;
  --color-text-1:#C9C9C9; 
  --color-text-2:#FFFFFF; 
  --color-text-3:#EE3032;
  --color-text-4:#646467;
  --color-text-5:#2CB0FF;
  --color-text-6:#1AB352;
  --color-text-7:#F36C20;
  --color-text-8:#707070;
  --color-fb:#4867aa;
  --color-tw:#00acec;
  --color-wa:#2bb240;
  --rounded-1:var(--size-2);
  --rounded-2:var(--size-3);
  --rounded-3:var(--size-4);
  --rounded-4:var(--size-5);
  --hover-opacity:0.55;
  --shadow-default:0 2px 10px rgb(0 0 0 / 25%);
  --transition-default:all 0.34s;
}



body, html{color:var(--color-text-1);}
body.freeze-scroll{overflow:hidden;}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-text-2); fill:var(--color-text-2);}
a:hover, button:hover{color:var(--color-text-8); fill:var(--color-text-8);}
.btn, a.btn, button.btn{background-color:var(--color-text-3); color:var(--color-text-2); fill:var(--color-text-2); border-radius:var(--rounded-3);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-text-8); color:var(--color-text-2); fill:var(--color-text-2);}
.sticky-curr > .sticky-label:after{content:''; display:block; position:absolute; height:3px; background-color:var(--color-text-3); 
border-radius:var(--rounded-3);}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-text-2);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}



.live-misc-box{color:var(--color-text-1); fill:var(--color-text-1);}



input.search-field, button.search-button{border-radius:var(--rounded-4);}
input.search-field{border-color:var(--bg-4); background-color:var(--bg-4); color:var(--color-text-2); box-shadow:var(--shadow-default);}
.search-note b{color:var(--color-text-3);}



.section-title{color:var(--color-text-2); fill:var(--color-text-2);}
.section-title-link{color:var(--color-text-5);}
.section-title-link:hover{color:var(--color-text-8);}



header{transition:var(--transition-default);}
body.body-margin header{background-color:var(--bg-1);}
header.header-sticky, body.body-margin header.header-sticky{background-color:var(--bg-2);}
header .sticky-link{position:relative; z-index:2000;}
header .show-sticky{fill:var(--color-text-3);}
.sticky-link-logo:hover, .sticky-link-profile:hover{opacity:var(--hover-opacity);}
.slp-circle{border-radius:50%;}

.sticky-box{position:relative;}
.sticky-sub{position:absolute; z-index:1; top:0; right:var(--size-3); padding-top:calc(var(--size-6) + var(--size-2));}
.sticky-sub-container{background-color:var(--bg-2); padding:var(--size-3); border-radius:var(--rounded-2); box-shadow:var(--shadow-default); width:175px;}
.sticky-link-sub{--icon-size:18px; display:grid; grid-gap:var(--size-3); grid-template-columns:var(--icon-size) 1fr;
align-items:center; color:var(--color-text-2); fill:var(--color-text-2); padding:var(--size-3);}
.sticky-link-sub:hover{color:var(--color-text-8); fill:var(--color-text-8);}
.sticky-link-sub .svgicon{width:var(--icon-size); height:auto;}



.content-list-thumb-frame{border-radius:var(--rounded-1);}
.content-list-thumb-icon{position:absolute; z-index:2; top:0; left:0; bottom:0; right:0; opacity:0; transition:opacity 0.34s;
display:flex; justify-content:center; align-items:center; fill:var(--color-text-2);}
.content-list-thumb-icon .svgicon{width:auto; height:34%;}
.content-list-box:hover .content-list-thumb-icon{opacity:0.55;}
.play-now-icon{opacity:1 !important; line-height:normal; flex-wrap:wrap; align-content:center; background-color:rgb(var(--color-overlay) / 55%);}
.play-now-icon .svgicon{height:21px;}
.play-now-icon span{color:var(--color-text-2);}
.content-list-channel, .content-list-date{color:var(--color-text-1);}
.content-list-desc{color:var(--color-text-2);}

.content-list-row .content-delete-bookmark-button:hover{fill:var(--color-text-3);}
.content-list-row .content-play-now .content-list-title{color:var(--color-text-5);}

.content-live-box{background-color:var(--bg-2); border-radius:var(--rounded-1); overflow:hidden;}
.content-live-box .content-list-thumb{margin-bottom:0;}
.content-live-box .content-list-thumb-frame{border-radius:0;}
.content-live-box .content-list-info{padding:var(--size-4);}
.content-live-button{border-color:rgb(var(--color-border) / 13%); border-radius:var(--rounded-4);}
.content-live-button:hover{background-color:var(--bg-1); color:var(--color-text-1); fill:var(--color-text-1);}
.content-live-share{border-radius:50%; background-color:var(--bg-1);}



.program-list-box{border-radius:var(--rounded-2); overflow:hidden;}



.channel-button, .channel-button-frame{border-radius:var(--size-6);}
.channel-button{background-color:var(--color-text-4);}
.channel-button:hover{background-color:var(--color-text-8);}
.channel-button-curr{color:var(--color-text-1);
background:linear-gradient(to right, var(--color-text-5) 0%, var(--color-text-6) 50%, var(--color-text-7) 100%) !important;}
.channel-button-frame{background-color:var(--bg-1);}
.channel-button-live .channel-button-frame:before{background-color:var(--color-text-3); border-color:var(--color-text-2); border-radius:50%;}



nav{background-color:var(--bg-2);}



footer{margin-top:var(--size-6);}
footer > .width-max{display:grid; grid-gap:var(--size-4);}
.footer-menu{display:flex; flex-wrap:wrap;}
.footer-menu-link{margin-bottom:var(--size-3); margin-right:var(--size-4);}
.footer-socmed{display:flex; align-items:center;}
.footer-socmed-link{margin-left:var(--size-4);}
.footer-socmed-link:hover{opacity:var(--hover-opacity);}
.footer-socmed-link img{position:relative; width:auto; height:var(--size-4)}



.muat-lainnya-button{padding:var(--size-3) var(--size-5); margin-top:var(--size-5); border:1px solid var(--color-text-2); border-radius:var(--rounded-4);}
.muat-lainnya-button:hover{border-color:var(--color-text-8)}



.popup-full-overlay, .popup-full-container{position:absolute; top:0; left:0; width:100%; height:100%;}
.popup-full-overlay{z-index:1;}
.popup-full-container{display:flex; justify-content:center; align-items:center;}
.popup-full-box{position:relative; z-index:2000; background-color:var(--bg-2); width:100%; max-width:610px; max-height:calc(100vh - (var(--size-6) * 3));
border-radius:var(--rounded-2); overflow-y:auto;}

.popup-share{position:fixed; z-index:var(--max-zindex); top:0; left:0; width:100%; height:100%; background-color:rgb(var(--color-overlay) / 89%);}
.popup-share-head{display:flex; justify-content:space-between;}
.popup-share-head > *{display:flex; align-items:center;}
.popup-share-title{font-size:var(--icon-size);}
.popup-share-close .svgicon{width:auto; height:calc(var(--icon-size) + 4px);}
.popup-share-list{display:flex; margin:var(--size-4) 0;}
.popup-share-link{width:var(--share-button); height:var(--share-button); margin-right:var(--size-3); border-radius:50%; overflow:hidden;
background-color:var(--color-text-2); fill:var(--bg-2);}
.popup-share-link:hover{fill:var(--color-text-2);}
.popup-share-link .svgicon{width:calc(var(--share-button) / 1.75); height:auto;}
.popup-share-facebook{fill:var(--color-fb);}
.popup-share-facebook:hover{background-color:var(--color-fb);}
.popup-share-twitter{fill:var(--color-tw);}
.popup-share-twitter:hover{background-color:var(--color-tw);}
.popup-share-whatsapp{fill:var(--color-wa);}
.popup-share-whatsapp:hover{background-color:var(--color-wa);}
.popup-share-copyurl{position:relative; border-radius:var(--rounded-4); overflow:hidden;}
.psc-field{width:100%; padding:var(--size-4); border:0; background-color:var(--bg-4); color:var(--color-text-2);
border-radius:var(--rounded-4); overflow:hidden;}
.psc-button{position:absolute; z-index:1000; top:0; right:0; width:96px; height:100%; background-color:var(--bg-4);
display:flex; justify-content:center; align-items:center; color:var(--color-text-5); fill:var(--color-text-5);}
.psc-button .svgicon{margin-right:var(--size-2); width:auto; height:var(--fontsize-default);}

.popup-search{position:fixed; z-index:calc(var(--max-zindex) - 11000); padding:var(--size-2) var(--size-4);}



.popup-alert{position:fixed; z-index:calc(var(--max-zindex) - 12000); top:var(--size-6); left:0; width:100%; text-align:center;}
.popup-alert-box{padding:var(--size-4); background:var(--bg-4); border-radius:var(--rounded-2); box-shadow:var(--shadow-default);
margin:var(--size-2) auto; display:inline-block;}
.popup-alert-label{text-align:center; line-height:150%;}
.popup-alert-action{display:flex; justify-content:center;}
.popup-alert-button{width:89px; margin:var(--size-3) var(--size-2) 0;}

.popup-delete-bookmark .popup-alert-button[title='Yes']{background-color:rgb(var(--color-border) / 3%);}
.popup-toggle-bookmark .popup-alert-box{background-color:var(--color-text-6); color:var(--color-text-2);}





@media screen and (min-width:0px) and (max-width:1023px){
  .sticky-curr > .sticky-label:after{bottom:0; left:25%; width:50%;}
  .sticky-sub-show{display:block;}
  
  
  
  .play-now-icon span{text-align:center; margin-top:var(--size-1);}
  
  
  
  nav .show-sticky{fill:var(--color-text-3); color:var(--color-text-3);}



  .footer-socmed{margin-bottom:var(--size-4);}
  
  
  
  .popup-full-container, .popup-full-box{padding:var(--size-4);}
  
  .popup-share-head{--icon-size:16px;}
  .popup-share-list{--share-button:48px;}
  
  
  
  .popup-search{bottom:var(--size-6); right:0; width:100%; background:linear-gradient(to bottom, transparent 0%, var(--bg-1) 100%);}
}





@media screen and (min-width:1024px){
  .sticky-curr > .sticky-label:after{bottom:calc(var(--size-2) * -1); left:calc(50% - (var(--size-5) / 2)); width:var(--size-5);}
  .sticky-box-profile:hover .sticky-sub{display:block;}
  
  
  
  .play-now-icon span{text-align:center; margin-top:var(--size-1);}
  
  
  
  .content-list-more-circle{background-color:var(--bg-1); fill:var(--color-text-2); border-radius:50%; opacity:0.55; transition:var(--transition-default);}
  .content-list-more:hover .content-list-more-circle{opacity:0.89;}



  .channel-carousel-container{transition:var(--transition-default);}
  .channel-button-showall{background-color:var(--bg-1); justify-content:flex-end;}
  
  
  
  .program-list-info, .program-list-overlay{position:absolute; top:0; left:0; width:100%; height:100%; }
  .program-list-info{z-index:1000; display:flex; flex-wrap:wrap; align-items:flex-end; transition:var(--transition-default); top:100%;}
  .program-list-box:hover .program-list-info{top:0;}
  .program-list-overlay{z-index:2000; background-color:rgb(var(--color-overlay) / 55%);}
  .program-list-info > span{display:grid; grid-gap:var(--size-2); width:100%; padding:var(--size-4); line-height:150%; position:relative; z-index:3000;}
  .program-list-info > span *{color:var(--color-text-2); fill:var(--color-text-2);}
  .program-list-nav{--button-size:42px; display:flex;}
  .program-list-button{width:var(--button-size); height:var(--button-size); margin-right:var(--size-3); border-radius:50%;
  background-color:var(--color-text-3);}
  .program-list-button:last-child{margin-right:0;}
  .program-list-button:hover{background-color:var(--color-text-8);}

  .program-list-button .svgicon{width:auto; height:var(--size-4);}
  .program-list-title{font-size:var(--fontsize-title); font-weight:bold;
  -webkit-line-clamp:2; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}
  
  
  
  .footer-socmed, .footer-copyright{grid-row:2/3;}
  .footer-socmed{grid-column:2/3; justify-content:flex-end;}
  .footer-menu{grid-column:1/3; grid-row:1/2;}
  
  
  
  .popup-full-container, .popup-full-box{padding:var(--size-5);}
  
  .popup-share-head{--icon-size:22px;}
  .popup-share-list{--share-button:56px;}
  
  
  
  .popup-search{top:var(--size-6); right:0; padding-right:var(--size-5);}
  .popup-search input.search-field{width:377px;}
}





@media screen and (min-width:1280px){
  .play-now-icon span{margin-left:var(--size-3); margin-top:0;}
  
  
  
  footer > .width-max{grid-template-columns:repeat(2,1fr);}
  .footer-menu-link{margin-bottom:0;}
}
  
  
  
  
  
@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  .program-list-overlay{-webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); background-color:rgb(var(--color-overlay) / 21%);}
  .popup-full{-webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); background-color:rgb(var(--color-overlay) / 34%);}
}