.column-right{line-height:150%;}



.information-menu{overflow-y:auto;}
.information-menu-link{display:flex; align-items:center; padding:0 var(--size-4); height:48px; border-top:1px solid rgb(var(--color-border) / 5%);}
.information-menu-curr{background-color:var(--bg-4);}



.information-content{display:grid; grid-gap:var(--size-4);}
.information-content ul, .information-content ol{padding-left:20px; display:grid; grid-gap:var(--size-4);}
.information-content ul{list-style:square;}
.information-content ol{list-style:decimal;}
.information-content ol.list-abjad{list-style:lower-latin;}
.information-content h2, .information-content h3, .information-content h4{font-weight:900; font-size:18px; line-height:150%;}
.information-content b, .information-content strong{font-weight:900; display:inline-block; margin-bottom:var(--size-1);}

.longword-page b, .longword-page h3, .longword-page h4, .longword-page h5, .longword-page h6{font-weight:bold; color:var(--color-text-2);}
.longword-page p{margin-bottom:15px;}
.longword-page ul, .longword-page ol{padding-left:30px;}
.longword-page-romawi{list-style:upper-roman !important;}
.longword-page-detail{list-style:decimal;}
.longword-page-detail > li{padding-bottom:10px;}
.longword-page-detail > li > ol{list-style:lower-latin;}
.longword-page-detail > li > ol > li{padding:5px 0;}
.longword-page-detail > li > ol > li > ol{list-style-type:decimal;}
.longword-page-detail > li > ol > li > ol > li{padding:3px 0;}
.longword-page-detail > li > ol > li > ol > li:last-child{padding-bottom:0;}
.longword-page-detail > li > div{padding:5px 0;}

.contact-gmaps{margin-bottom:var(--size-5); max-width:610px; border-radius:var(--rounded-2); overflow:hidden;}
.contact-gmaps:before{padding-top:56.25%;}
.contact-gmaps iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
.contact-list{display:grid; grid-gap:var(--size-4);}
.contact-row{--icon-size:18px; display:grid; grid-template-columns:var(--icon-size) 1fr; grid-gap:var(--size-3);}
.contact-icon .svgicon{width:var(--icon-size); height:auto; fill:var(--color-text-1); position:relative; top:2px;}



.peta-situs-list{padding-left:20px; list-style:disc;}
.peta-situs-sub{list-style:circle;}
.peta-situs-link{display:block; padding:var(--size-1) 0; text-transform:capitalize;}



.kontak-kami-container{display:grid; grid-gap:var(--size-4);}
.kkc-map{position:relative; border-radius:var(--rounded-1); overflow:hidden;}
.kkc-map:before{content:''; display:block; padding-top:56.25%;}
.kkc-map iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
.kkc-list{display:grid; grid-gap:var(--size-3);}
.kkc-link{display:flex; align-items:center;}
.kkc-link .svgicon{width:20px; height:auto; margin-right:var(--size-3);}



.karir-container{display:grid; grid-gap:var(--size-5);}
.karir-title{font-size:18px; font-weight:900;}
.karir-list{list-style:circle; padding-left:20px;}
.karir-list > li{padding:var(--size-1) 0;}





@media screen and (min-width:0px) and (max-width:1023px){
  header, .information-menu{background-color:var(--bg-2) !important;}
  .rancak-container{margin-top:0 !important;}
  .column-right{margin-top:calc(var(--size-4) * -1);}
  .information-menu{position:-webkit-sticky; position:sticky; top:var(--size-6);}
  .information-dropdown{color:var(--color-text-2); width:100%; padding:var(--size-4); position:relative; z-index:1000;}
  .information-dropdown option{color:var(--bg-1);}
  .information-dropdown-icon{position:absolute; top:0; right:0; height:100%; padding:0 var(--size-4); fill:var(--color-text-2);}
}





@media screen and (min-width:1024px){
  .information-menu{border-radius:var(--rounded-1);}
  .information-container{grid-template-columns:334px 1fr;}
}