.live-headline{position:relative;}
.live-headline-cover:before{padding-top:56.25%;}
.live-headline-cover:after{content:''; position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%;
background:linear-gradient(to bottom, var(--bg-1) 0%, transparent 45%, transparent 55%, var(--bg-1) 100%);}
.live-headline-info{--icon-size:14px; display:flex; flex-wrap:wrap;}
.live-headline-date{display:grid; grid-gap:var(--size-3); grid-template-columns:var(--icon-size) 1fr; margin-top:var(--size-2); margin-right:var(--size-5);
color:var(--color-text-1); fill:var(--color-text-1);}
.live-headline-date .svgicon{width:var(--icon-size); height:auto;}
.live-headline-icon, .live-headline-label{display:flex; align-items:center;}
.live-headline-title{line-height:150%; margin:var(--size-3) 0; font-weight:bold; width:100%;
display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; overflow:hidden;}
.live-headline-action .content-live-button,
.live-headline-action .content-live-share{background-color:var(--color-text-3); color:var(--color-text-2) !important; fill:var(--color-text-2) !important;}
.live-headline-action .content-live-button:hover,
.live-headline-action .content-live-share:hover{background-color:var(--color-text-5);}
.live-headline-action .content-live-button{padding:0 var(--size-5);}





@media screen and (min-width:0px) and (max-width:639px){
  .live-headline-info{padding:0 var(--size-4) var(--size-4);}
  .live-headline-title{font-size:18px;}
}





@media screen and (min-width:640px){
  .live-headline-cover{max-height:480px;}
  .live-headline-info{position:absolute; z-index:2000; bottom:0; left:0; width:100%; max-width:610px; padding:var(--size-5);}
  .live-headline-title{font-size:24px;}
}
  
  
  
  
  
@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  .live-headline-info > div{-webkit-backdrop-filter:blur(2px); backdrop-filter:blur(2px);}
}