:root, :before, :after{
  --color-link-primary:var(--color-text-3);
}



.login-register-cover:before{position:relative; z-index:1000;}



.login-register-box{background-color:var(--bg-2); border-radius:var(--rounded-2);}
.login-register-box-container{display:grid; grid-gap:var(--size-6);}
.lrb-title{text-align:center; margin-bottom:var(--size-2); font-size:18px; color:var(--color-text-2);}
.lrb-option{display:grid; grid-gap:var(--size-4);}
.lrb-button{display:flex; justify-content:center; align-items:center; width:100%; height:var(--size-6); padding:0 var(--size-5);
background-color:var(--bg-4); color:var(--color-text-1); border-radius:var(--rounded-4); overflow:hidden;}
.lrb-button img{width:auto; height:24px; margin-right:var(--size-3);}
.lrb-button:hover{background-color:var(--color-text-4); color:var(--color-text-2);}
.lrb-note{line-height:150%; color:var(--color-text-2); text-align:center;}

.lrb-alert{color:var(--color-text-2); padding:var(--size-3) var(--size-4); line-height:150%; border-radius:var(--rounded-1);}
.lrb-alert-error{background-color:var(--color-text-3);}
.lrb-alert-success{background-color:var(--color-text-6);}



.lrb-form, .lrb-form-row{display:grid;}
.lrb-form{grid-gap:var(--size-5);}
.lrb-form-row{grid-gap:var(--size-3);}
.lrb-form-box{--icon-size:62px; position:relative;}
.lrb-icon{position:absolute; z-index:1; top:0; width:var(--size-6); height:var(--icon-size);}
.lrb-icon-left{left:0;}
.lrb-icon-right{right:0;}
.lrb-icon .svgicon{width:auto; height:16px; fill:var(--color-text-2);}
.lrb-form-field{background-color:transparent; padding:var(--size-4) var(--size-6); border:1px solid var(--color-text-4); border-radius:var(--rounded-4); 
width:100%; color:var(--color-text-2); position:relative; z-index:1000;}
.lrb-form-field:disabled{background-color:rgb(var(--color-border) / 21%);}
.lrb-form-field option{color:var(--bg-1);}
.lrb-form-note{font-size:11px;}

.lrb-form-box .autocomplete-items{position:absolute; z-index:5000; top:calc(var(--icon-size) + var(--size-2)); left:0; width:100%; 
background-color:var(--bg-1); border-radius:var(--rounded-2); overflow:hidden;}
.lrb-form-box .autocomplete-items > div{padding:var(--size-3); border-bottom:1px dashed rgb(var(--color-border) / 13%);}
.lrb-form-box .autocomplete-items > div:hover{background-color:rgb(var(--color-border) / 13%); cursor:pointer;}

.lrb-form-error .lrb-icon .svgicon{fill:var(--color-text-3);}
.lrb-form-error .lrb-form-field{border-color:var(--color-text-3);}
.lrb-form-error .lrb-form-note{color:var(--color-text-3);}



.popup-registration-success{top:0 !important; height:100vh; padding:var(--size-4);}
.popup-registration-success .popup-alert-title{font-weight:bold; font-size:24px; margin-bottom:var(--size-3); color:var(--color-text-2);}





@media screen and (min-width:0px) and (max-width:1023px){
  .rancak-container{margin:0;}
  .main-container{grid-row-gap:0;}
  
  .login-register-cover:before{padding-top:100%;
  background:linear-gradient(to bottom, transparent 34%, var(--bg-1) 100%);}
  .login-register-cover img{object-position:left center;}
  
  .login-register-box{padding:var(--size-5) var(--size-4); margin-top:calc(var(--size-7) * -1); margin-bottom:var(--size-4);
  position:relative; z-index:2000;}
}





@media screen and (min-width:1024px){
  .main-container{grid-template-columns:1fr 480px;}
  .column-left{margin-left:0; height:100%; min-height:100vh;}
  .column-right{display:flex; align-items:center; flex-wrap:wrap; margin-right:var(--size-6);}
  .column-right .column-container{width:100%;}
  
  .login-register-cover, .login-register-cover:before{height:100vh;}
  .login-register-cover{position:sticky; top:0;}
  .login-register-cover:before{background:linear-gradient(to right, transparent 21%, var(--bg-1) 100%);}
  .login-register-cover img{object-position:left center;}
  
  .login-register-box{padding:var(--size-6) var(--size-5); margin:var(--size-5) 0;}
}





@media screen and (min-width:1920px){
  .main-container{grid-template-columns:1fr 610px;}
  .column-right{margin-right:var(--size-7);}
  
  .login-register-box{padding:var(--size-6);}
}