.nikmati-program{background-color:var(--bg-3); margin:var(--size-3) 0;}
.nikmati-program-container{width:100%; max-width:var(--site-container);}
.nikmati-program .program-list-carousel .program-list-container{--box-width:144px;}
.npc-bg:after{content:''; display:block; position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%;}
.npc-bg img{object-position:left center;}





@media screen and (min-width:0px) and (max-width:1023px){
  .npc-bg{max-height:377px;}
  .npc-bg:before{padding-top:75%;}
  .npc-bg:after{background:linear-gradient(to bottom, transparent 34%, var(--bg-3) 100%);}
  .npc-content{padding:var(--size-4);}
}





@media screen and (min-width:1024px){
  .nikmati-program-container{display:grid; grid-template-columns:377px 1fr;}
  .npc-bg:before{height:100%;}
  .npc-bg:after{background:linear-gradient(to right, transparent 21%, var(--bg-3) 100%);}
  .npc-content{padding:var(--size-6) var(--size-4);}
}





@media screen and (min-width:1280px){
  .nikmati-program-container{grid-template-columns:377px 1fr;}
  .nikmati-program .program-list-carousel .program-list-container{--box-width:233px;}
}





@media screen and (min-width:1920px){
  .nikmati-program-container{grid-template-columns:610px 1fr;}
}





@media screen and (min-width:1921px){
  .nikmati-program{border-radius:var(--rounded-3); overflow:hidden;}
}