.column-container{grid-row-gap:var(--size-3);}

.profile-upload{position:absolute; z-index:7000; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.profile-upload:hover + .profile-upload-icon .pui-circle{background-color:rgb(var(--color-overlay) / 89%);}
.profile-upload-icon{position:absolute; z-index:5000;}
.profile-cover .profile-upload-icon{top:var(--size-2); right:var(--size-2);}
.profile-thumb .profile-upload-icon{top:0; left:0; width:100%; height:100%;}
.pui-circle{width:55px; height:55px; border-radius:50%; background-color:rgb(var(--color-overlay) / 100%); fill:var(--color-text-2); 
transition:var(--transition-default); overflow:hidden; opacity:0.34;}

.profile-info{padding:var(--size-4); background-color:var(--bg-2); border-radius:var(--rounded-2); position:relative; overflow:hidden;}
.profile-info-title{display:flex; justify-content:space-between; align-items:center;}
.pit-label{font-size:var(--font-height); color:var(--color-text-2);}
.pit-shortcut{display:flex;}
.pit-shortcut .svgicon{width:auto; height:var(--font-height);}

.profile-detail{display:grid;}
.profile-detail-row{padding:var(--size-4) 0; border-bottom:1px dashed rgb(var(--color-border) / 21%);
display:grid; grid-gap:var(--size-2);}
.profile-detail-data{color:var(--color-text-2);}
.profile-detail-submit{margin-top:var(--size-4);}

.profile-edit .profile-detail{grid-gap:var(--size-5);}
.profile-edit .profile-info-title{margin-bottom:var(--size-4);}
.profile-edit .profile-detail-submit{margin-top:0; display:flex;}
.profile-edit .profile-detail-button[title='Batal']{margin-right:var(--size-4); background-color:var(--color-text-4);}
.profile-edit .profile-detail-button[title='Batal']:hover{background-color:var(--color-text-8);}

.profile-alert{color:var(--color-text-2); padding:var(--size-3) var(--size-4); line-height:150%; border-radius:var(--rounded-1);}
.profile-alert-error{background-color:var(--color-text-3);}
.profile-alert-success{background-color:var(--color-text-6);}






@media screen and (min-width:0px) and (max-width:1023px){
  .profile-info-title{--font-height:16px;}
  .profile-detail-button{width:100%;}
}





@media screen and (min-width:412px){
  .profile-detail-row{grid-template-columns:120px 1fr;}
}





@media screen and (min-width:1024px){
  .profile-info-title{--font-height:24px;}
  .profile-detail-button{padding:var(--size-3) var(--size-5) !important;}
  
  .lrb-form-row{display:grid; grid-template-columns:112px 1fr;}
  .lrb-form-label{grid-row:1/3; padding-top:var(--size-4);}
}