.program-cover-bg:after{content:''; display:block; position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%;
background:linear-gradient(to bottom, transparent 34%, var(--bg-1) 100%);}
.program-page{display:flex; flex-wrap:wrap;}
.program-page > *{margin-top:var(--size-2); line-height:140%;}
.program-page > .program-page-title{margin-top:0; font-weight:bold;}
.program-page-title, .program-page-desc{color:var(--color-text-2); width:100%;}
.program-page-publish{margin-right:var(--size-2); padding-right:var(--size-2); border-right:1px solid rgb(var(--color-border) / 55%);
display:flex; flex-wrap:wrap;}
.program-page-publish > span{margin-right:var(--size-2);}

.program-page-action, .program-page-continue{display:grid;}
.program-page-action{grid-template-columns:1fr auto auto; grid-gap:var(--size-5);}
.program-page-continue{grid-template-columns:auto 1fr; grid-gap:var(--size-3);}
.program-page-action .svgicon{width:auto; height:24px;}
.ppc-icon, .ppc-label{display:flex; align-items:center;}

.main-program-page .column-sticky{top:0;}
.main-program-page .content-list-title{font-size:var(--fontsize-default);}
.main-program-page .content-list-desc{display:-webkit-box !important; color:var(--color-text-1);}





@media screen and (min-width:0px) and (max-width:1023px){
  .main-container{grid-row-gap:0;}
  .program-cover-bg:before{padding-top:100%;}
  .program-page-title{font-size:21px;}
}





@media screen and (min-width:1024px){
  .program-cover-bg, .program-cover-bg:before{height:100vh;}
  .program-cover-bg:before{position:relative; z-index:1000; background:linear-gradient(to right, transparent 34%, var(--bg-1) 100%);}
  .program-page-title{font-size:34px;}
  
  .main-program-page .program-list-container{grid-template-columns:repeat(auto-fit, minmax(140px,1fr)); grid-gap:var(--size-3);}
}





@media screen and (min-width:1024px) and (max-width:1920px){
  .column-left{margin-left:0;}
  .program-page{margin-top:calc(var(--size-6) + var(--size-5));}
}





@media screen and (min-width:1280px){
  .main-program-page .program-list-container{grid-template-columns:repeat(auto-fit, minmax(130px,1fr));}
}