*{min-height:0;min-width:0;}*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.hide{display:none;}



:root, :before, :after{
  --site-container:1920px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --fontsize-default:14px;
  --fontsize-title:16px;
  --bg-1:#21232C; 
}



body, html{font-family:'DM Sans',sans-serif; font-size:var(--fontsize-default); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth;}
body{background-color:var(--bg-1);}
body.body-margin{padding-top:var(--size-6);}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.content_center{display:flex; justify-content:center; align-items:center;}
.sticky-link{height:var(--size-6); position:relative;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.search-box{--button-width:89px; position:relative;}
input.search-field{width:100%; padding:var(--size-4); border:1px solid; padding-right:calc(var(--button-width) + var(--size-4));}
button.search-button{position:absolute; top:3px; right:3px; height:calc(100% - 6px); width:var(--button-width); font-size:18px;}
.search-page{margin-bottom:calc(var(--size-3) * -1) !important;}
.search-note{margin-top:var(--size-3); text-align:center;}



.section-title{margin-bottom:var(--size-4); display:flex; flex-wrap:wrap;}
.section-title-name{font-size:var(--size-4); font-weight:bold;}
.section-title-link{margin-top:var(--size-1); display:inline-flex; width:100%;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.live-misc-box{--icon-size:14px; display:grid; grid-template-columns:var(--icon-size) 1fr; grid-gap:var(--size-2);}
.lmb-icon, .lmb-label{display:flex; align-items:center;}
.lmb-icon .svgicon{width:var(--icon-size); height:auto;}

.video-info-data{display:flex; flex-wrap:wrap;}
.video-info-data > *{margin-top:var(--size-3);}
.vid-left{margin-right:var(--size-4);}



header{--icon-size:24px; position:fixed; z-index:calc(var(--max-zindex) - 10000); top:0; left:0; width:100%;}
header > .width-max{display:flex; justify-content:space-between;}
header .sticky-link{padding:0 var(--size-3);}
header .sticky-link .svgicon, header .sticky-link-logo img{width:auto; height:var(--icon-size);}
.header-left, .header-right{display:flex; align-items:center; align-content:center;}
.slp-circle{width:var(--icon-size); height:var(--icon-size);}



.rancak-container{position:relative;}
.rancak-container > .width-max{display:block;}
.main-container{display:grid; grid-column-gap:var(--size-5); grid-row-gap:var(--size-6);}
.column-container{display:grid; grid-template-columns:1fr; grid-template-rows:min-content; grid-row-gap:var(--size-6);}
.column-full-nomargin{margin:0 !important;}



.content-list-container{display:grid; grid-gap:var(--size-5); position:relative;}
.content-list-thumb-frame:before{padding-top:56.25%;}
.content-list-info{display:flex; align-items:center; line-height:150%;}
.content-list-info > span{display:grid; grid-gap:var(--size-1);}
.content-list-title, .content-list-channel, .content-list-desc{display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}
.content-list-title{font-weight:bold; line-height:150%; -webkit-line-clamp:2;}
.content-list-channel{-webkit-line-clamp:1;}
.content-list-desc{-webkit-line-clamp:2;}

.content-list-column .content-list-box{display:flex; flex-wrap:wrap; align-content:flex-start;}
.content-list-column .content-list-box > *{width:100%;}
.content-list-column .content-list-thumb{margin-bottom:var(--size-3);}

.content-list-row .content-list-box{display:grid; grid-template-columns:var(--thumb-size) 1fr;}
.content-list-row .content-list-action{grid-template-columns:var(--thumb-size) 1fr var(--action-icon);}
.content-list-row .content-delete-bookmark-button .svgicon{width:100%; height:auto;}

.content-live-info{display:grid; grid-gap:var(--size-2); margin:var(--size-4) 0;}
.content-live-action{--share-size:48px; display:grid; grid-template-columns:1fr var(--share-size); grid-gap:var(--size-3);}
.content-live-button, .content-live-share{height:var(--share-size);}
.content-live-button{display:flex; justify-content:center; align-items:center; align-content:center; border:1px solid; padding:0 var(--size-4);}
.content-live-button .svgicon{height:var(--fontsize-title); width:auto; margin-right:var(--size-3);}
.content-live-share{width:var(--share-size);}
.content-live-share .svgicon{width:calc(var(--share-size) / 3); height:auto;}
  
.content-list-carousel, .content-list-carousel .content-list-column{display:grid;}
.content-list-carousel{--box-width:152px;}
.content-list-carousel .content-list-column::-webkit-scrollbar{height:0;}
.content-list-carousel .content-list-column{align-items:center; grid-auto-flow:column; grid-auto-columns:var(--box-width); grid-template-columns:auto; overflow-x:auto;}
.content-list-carousel .content-list-column .content-list-box{width:var(--box-width);}



.channel-list{--button-height:48px;}
.channel-list-container{display:flex; flex-wrap:wrap;}
.channel-button{padding:1px; display:block; height:var(--button-height); margin-right:var(--size-3); margin-bottom:var(--size-3);}
.channel-button-frame{height:100%; padding:0 var(--size-4); text-transform:capitalize;}
.channel-button-live .channel-button-frame:before{content:''; display:block; width:18px; height:18px; margin-right:var(--size-2); border:1px solid;}
  
.channel-carousel, .channel-carousel-container{display:grid;}
.channel-carousel{margin-bottom:calc(var(--size-3) * -1) !important;}
.channel-carousel-container{grid-gap:var(--size-3); align-items:center; grid-auto-flow:column; grid-auto-columns:max-content; overflow-x:auto;}
.channel-carousel-container .channel-button{margin-right:0; margin-bottom:0;}



.program-list-container{position:relative; display:grid;}
.program-list-box{position:relative; display:block;}
.program-list-thumb-portrait:before{padding-top:177.77%;}
.program-list-thumb-landscape:before{padding-top:56.25%;}

.program-list-carousel{display:grid;}
.program-list-carousel .program-list-container{align-items:center; grid-auto-flow:column; grid-auto-columns:var(--box-width); grid-template-columns:auto; overflow-x:auto;}
.program-list-carousel .program-list-container::-webkit-scrollbar{height:0;}
.program-list-carousel .program-list-box{width:var(--box-width);}



.toggle-bookmark[data-title="Add"] .svgicon-bookmark, .toggle-bookmark[data-title="Remove"] .svgicon-bookmark-outline{display:none;}
.toggle-bookmark[data-title="Remove"] .svgicon-bookmark, .toggle-bookmark[data-title="Add"] .svgicon-bookmark-outline{display:block;}



.slotiklan{position:relative; overflow:hidden;}
.slotiklan-300x250{contain-intrinsic-size:1px 250px; min-width:300px; height:250px;}
.slotiklan-320x50{contain-intrinsic-size:1px 50px; min-width:320px; height:50px;}
.slotiklan-728x90{contain-intrinsic-size:1px 90px; min-width:728px; height:90px;}
.slotiklan-970x200{contain-intrinsic-size:1px 200px; min-width:970px; height:200px;}
.slotiklan-320x100{contain-intrinsic-size:1px 100px; min-width:320px; height:100px;}
.slotiklan-160x600{contain-intrinsic-size:1px 600px; min-width:160px; height:600px;}





@media screen and (min-width:0px) and (max-width:1023px){
  body{overflow-x:hidden;}
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  .sticky-link{position:relative;}
  
  
  
  header .sticky-link-logo{padding-left:var(--size-4);}
  header .sticky-link-profile{padding-right:var(--size-4);}
  
  
  
  body.body-margin .rancak-container{margin-top:var(--size-4);}
  .main-container{grid-template-columns:1fr;}
  .section-container{margin:0 var(--size-4);}
  
  
  
  .content-list-desc{display:none;}
  
  .content-list-column{grid-column-gap:var(--size-3);}
  .content-list-column{grid-template-columns:repeat(auto-fit, minmax(140px,1fr));}
  .content-live-column{grid-template-columns:repeat(auto-fit, minmax(230px,1fr));}
  
  .content-list-row{--thumb-size:180px;}
  .content-list-row .content-list-box{grid-gap:var(--size-3);}
  .content-list-row .content-list-action{--action-icon:13px;}
  
  
  
  .program-list-container{grid-gap:var(--size-3); grid-template-columns:repeat(auto-fit, minmax(150px,1fr));}
  
  .program-list-carousel .program-list-container{--box-width:144px;}
  
  
  
  nav{position:fixed; z-index:calc(var(--max-zindex) - 10000); bottom:0; left:0; width:100%;
  display:grid; grid-template-columns:repeat(auto-fit, minmax(var(--size-6),1fr));}
  nav .sticky-link{flex-wrap:wrap; align-content:center;}
  nav .sticky-link .svgicon{width:auto; height:20px;}
  nav .sticky-link > .sticky-label{width:100%; text-align:center; font-size:10px; margin-top:var(--size-1);}
  
  
  
  footer{padding-bottom:var(--size-6);}
  footer > .width-max{padding:var(--size-4);}
}





@media screen and (min-width:0px) and (max-width:567px){
  .content-list-row{--thumb-size:100px;}
  .content-list-row .content-list-thumb-frame:before{padding-top:100%;}
}