.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
.video-info-data{justify-content:space-between;}
.sticky-link > span{position:relative;}
  
  
  
header .sticky-link-logo{padding-left:var(--size-5);}
header .sticky-link-profile{padding-right:var(--size-5);}



body.body-margin .rancak-container{margin-top:var(--size-5);}
.main-container{grid-template-columns:1fr 334px;}



.column-full{grid-column:1/3; margin:0 var(--size-5);}
.column-left{margin-left:var(--size-5);}
.column-right{margin-right:var(--size-5);}
.column-sticky{position:-webkit-sticky; position:sticky; top:var(--size-7); padding-bottom:0.1px;}



.content-list-more{position:absolute; z-index:1000; top:0; right:calc(var(--size-3) * -1); height:100%;}
.content-list-more-circle{width:var(--size-6); height:var(--size-6);}
.content-list-more-circle .svgicon{width:auto; height:var(--size-4);}
.content-list-title{font-size:var(--fontsize-title);}

.content-list-column{grid-template-columns:repeat(auto-fill, minmax(240px,1fr));}

.content-list-row{--thumb-size:180px;}
.content-list-row .content-list-box{grid-gap:var(--size-4);}
.content-list-row .content-list-action{--action-icon:21px;}
.column-full .content-list-row, .column-big .content-list-row{--thumb-size:260px;}

.content-list-carousel .content-list-column{position:relative; --box-width:233px; overflow:hidden;}

.content-list-carousel .content-live-column{--box-width:360px;}



.channel-carousel-container{position:relative; overflow:hidden;}
.channel-carousel-container::-webkit-scrollbar{height:0;}
.channel-button-showall{position:absolute; z-index:1000; top:0; right:0; padding-left:var(--size-4); height:var(--button-height);}
.channel-carousel-open{display:flex; flex-wrap:wrap; grid-gap:0;}
.channel-carousel-open .channel-button{margin-right:var(--size-3); margin-bottom:var(--size-3);}



.program-list-container{grid-gap:var(--size-5); grid-template-columns:repeat(auto-fill, minmax(180px,1fr));}

.program-list-carousel .program-list-container{position:relative; --box-width:233px; overflow:hidden;}



footer > .width-max{padding:var(--size-4) var(--size-5);}





@media screen and (min-width:1024px) and (max-width:1279px){
  .column-small .content-list-row{--thumb-size:100px;}
  .column-small .content-list-row .content-list-thumb-frame:before{padding-top:100%;}
}





@media screen and (min-width:1280px){
  .main-container{grid-template-columns:1fr 436px;}
}





@media screen and (min-width:1920px){
  .main-container{grid-template-columns:1fr 644px;}

  .content-list-column{grid-template-columns:repeat(auto-fill, minmax(377px,1fr));}
  
  .content-list-carousel .content-list-container{--box-width:377px;}
}





@media screen and (min-width:1921px){
  .column-full-nomargin{margin:0 var(--size-5) !important;}
}