.program-slideshow .slick-list{margin:0;}
.program-slideshow .slick-nav{z-index:2; height:100%; background-color:transparent; color:#FFF; padding:0;}
.program-slideshow .slick-nav:before{font-size:18px; color:inherit;}
.program-slideshow .slick-nav > span{display:flex; justify-content:center; align-items:center; border-radius:50%; overflow:hidden; 
background-color:var(--bg-1); opacity:0.55; transition:var(--transition-default);}
.program-slideshow .slick-nav img{filter:invert(100%);}
.program-slideshow .slick-nav:hover > span{opacity:1;}
.program-slideshow .program-list-title{line-height:140%;}




@media screen and (min-width:0px) and (max-width:1023px){
  .program-slideshow-frame{margin:0 calc(var(--size-4) * 2);}
  .program-slideshow .slick-list{padding:0 calc(var(--size-5) * 1);}
  .program-slideshow .slick-nav > b{width:var(--size-5); height:var(--size-5); font-size:24px;}
  .program-slideshow .program-list-box{margin:0 var(--size-2);}
}





@media screen and (min-width:1024px){
  .program-slideshow-frame{margin:0 calc(var(--size-3) * 12);}
  .program-slideshow .slick-list{padding:0 calc(var(--size-5) * 2);}
  .program-slideshow .slick-nav > span{width:var(--size-6); height:var(--size-6); font-size:36px;}
  .program-slideshow .program-list-box{margin:0 var(--size-4);}
  
  .program-slideshow .program-list-nav{--button-size:50px;}
  .program-slideshow .program-list-info > span{grid-gap:var(--size-3); padding:var(--size-5);}
  .program-slideshow .program-list-title{font-size:24px;}
  .program-slideshow .program-list-episode{font-size:16px;}
}