.slideshow-main{position:relative; margin:0; overflow:hidden;}
.slideshow-main-frame:before{padding-top:56.25%;}

.slideshow-main-frame:before{content:''; display:block;}

.slideshow-main-container{position:absolute; top:0; left:0; width:100%; height:100%;}
.slideshow-main .slick-list{margin:0;}
.slideshow-main .slick-nav{z-index:2; height:100%; background-color:transparent; color:#FFF; padding:0;}
.slideshow-main .slick-nav:before{font-size:18px; color:inherit;}
.slideshow-main .slick-nav > span{display:flex; justify-content:center; align-items:center; border-radius:50%; overflow:hidden; 
background-color:var(--bg-1); opacity:0.55; transition:var(--transition-default);}
.slideshow-main .slick-nav img{filter:invert(100%);}
.slideshow-main .slick-nav:hover > span{opacity:1;}
.slideshow-main .slick-prev{padding-left:25px;}
.slideshow-main .slick-next{padding-right:25px;}





@media screen and (min-width:0px) and (max-width:1023px){
  .slideshow-main-frame{margin:0 calc(var(--size-4) * 2);}
  .slideshow-main .slick-list{padding:0 calc(var(--size-5) * 1);}
  .slideshow-main .slick-nav > b{width:var(--size-5); height:var(--size-5); font-size:24px;}
  .slideshow-main .program-list-box{margin:0 var(--size-2);}
}





@media screen and (min-width:1024px){
  .slideshow-main-frame{margin:0 calc(var(--size-3) * 12);}
  .slideshow-main .slick-list{padding:0 calc(var(--size-5) * 4);}
  .slideshow-main .slick-nav > span{width:var(--size-6); height:var(--size-6); font-size:36px;}
  .slideshow-main .program-list-box{margin:0 var(--size-4);}
  
  .slideshow-main .program-list-nav{--button-size:50px;}
  .slideshow-main .program-list-info > span{grid-gap:var(--size-3); padding:var(--size-5);}
  .slideshow-main .program-list-title{font-size:24px;}
  .slideshow-main .program-list-episode{font-size:16px;}
}





@media screen and (min-width:1280px){
  .slideshow-main-frame:before{padding-top:27%;}
}





@media screen and (min-width:1920px){
  .slideshow-main-frame:before{padding-top:17.8%;}
}





@media screen and (min-width:1921px){
  .slideshow-main-frame{margin:0;}
  .slideshow-main-frame:before{padding-top:18.8%;}
  .slideshow-main .slick-list{padding:0;}
  .slideshow-main .program-list-box{margin:0; border-radius:0;}
  .slideshow-main-container{border-radius:var(--rounded-2); overflow:hidden;}
}