.profile-head{background-color:var(--bg-2); border-radius:var(--rounded-2); position:relative; overflow:hidden;}
.profile-cover{height:var(--thumb-size); background-position:center top; background-size:cover; background-position:center;}
.profile-user{display:flex; flex-wrap:wrap; align-items:center; align-content:center;
padding-left:calc(var(--thumb-size) + var(--left-space) + var(--border-width) + var(--left-space)) !important;}
.profile-user > *{width:100%;}
.profile-name{color:var(--color-text-2);}
.profile-thumb{position:absolute; z-index:1000; left:var(--left-space); box-sizing:content-box; background-size:cover; background-position:center; 
width:var(--thumb-size); border:var(--border-width) solid var(--bg-2); border-radius:50%; overflow:hidden; 
top:calc((var(--thumb-size) / 2) - (var(--border-width) / 2));}
.profile-thumb:before{padding-top:100%;}

.profile-upload{position:absolute; z-index:7000; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.profile-upload:hover + .profile-upload-icon .pui-circle{background-color:rgb(var(--color-overlay) / 89%);}
.profile-upload-icon{position:absolute; z-index:5000;}
.profile-cover .profile-upload-icon{top:var(--size-2); right:var(--size-2);}
.profile-thumb .profile-upload-icon{top:0; left:0; width:100%; height:100%;}
.pui-circle{width:55px; height:55px; border-radius:50%; background-color:rgb(var(--color-overlay) / 100%); fill:var(--color-text-2); 
transition:var(--transition-default); overflow:hidden; opacity:0.34;}





@media screen and (min-width:0px) and (max-width:1023px){
  .profile-head{--thumb-size:89px; --left-space:var(--size-3); --border-width:var(--size-2);}
  .profile-user{padding:var(--size-4); min-height:76px;}
  .profile-name{font-size:var(--fontsize-title);}
  .profile-upload-icon{top:0; left:0; width:100%; height:100%;}
}





@media screen and (min-width:1024px){
  .profile-head{--thumb-size:144px; --left-space:var(--size-4); --border-width:var(--size-3);}
  .profile-user{padding:var(--size-5); min-height:114px;}
  .profile-name{font-size:var(--size-5);}
}